name: Docs

on:
  pull_request:

jobs:
  build:
    defaults:
      run:
        working-directory: ./docs
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.8'
        bundler-cache: true
    - run: bundle install
    - run: bundle exec jekyll build
