name: E2E

on:
  push:
    branches: ["master"]
    tags:
  pull_request:

jobs:
  data:
    env:
      CARGO_TEAM_COLOR: always
      PUBLIC_IP: 192.168.10.1
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Disable IPv6
        run: |
          sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
          sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
      - name: Build SFU
        working-directory: ./sfu
        run: cargo build --verbose
      - name: Start server
        working-directory: ./sfu
        run: |
          cargo build --example data_server
          nohup target/debug/examples/data_server > server.log 2>&1 &
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Build Client
        working-directory: ./client
        run: |
          yarn install
          yarn workspace rheomesh build
      - name: Start client
        working-directory: ./client
        run: |
          nohup yarn workspace data dev > client.log 2>&1 &

      - name: Install dependencies
        working-directory: ./e2e
        run: |
          yarn install
          yarn playwright install
      - name: Test
        working-directory: ./e2e
        run: |
          yarn test src/data.spec.ts
      - name: Logs
        if: always()
        run: |
          cat sfu/server.log

  camera:
    env:
      CARGO_TEAM_COLOR: always
      PUBLIC_IP: 192.168.10.1
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Disable IPv6
        run: |
          sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
          sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
      - name: Build SFU
        working-directory: ./sfu
        run: cargo build --verbose
      - name: Start server
        working-directory: ./sfu
        run: |
          cargo build --example media_server
          nohup target/debug/examples/media_server > server.log 2>&1 &
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Build Client
        working-directory: ./client
        run: |
          yarn install
          yarn workspace rheomesh build
      - name: Start client
        working-directory: ./client
        run: |
          nohup yarn workspace camera dev > client.log 2>&1 &

      - name: Install dependencies
        working-directory: ./e2e
        run: |
          yarn install
          yarn playwright install
      - name: Test
        working-directory: ./e2e
        run: |
          yarn test src/camera.spec.ts
      - name: Logs
        if: always()
        run: |
          cat sfu/server.log

  screen:
    env:
      CARGO_TEAM_COLOR: always
      PUBLIC_IP: 192.168.10.1
      DISPLAY: ":99"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Disable IPv6
        run: |
          sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
          sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
      - name: screen
        # Currently, Firefox does not support media.navigator.streams.fake for getDisplayMedia.
        # It supports only getUserMedia.
        # So, we create fake screen on X server.
        run: |
          sudo apt-get install xvfb
          Xvfb :99 -screen 0 1280x720x24 &

      - name: Build SFU
        working-directory: ./sfu
        run: cargo build --verbose
      - name: Start server
        working-directory: ./sfu
        run: |
          cargo build --example media_server
          nohup target/debug/examples/media_server > server.log 2>&1 &
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Build Client
        working-directory: ./client
        run: |
          yarn install
          yarn workspace rheomesh build
      - name: Start client
        working-directory: ./client
        run: |
          nohup yarn workspace multiple dev > client.log 2>&1 &

      - name: Install dependencies
        working-directory: ./e2e
        run: |
          yarn install
          yarn playwright install
      - name: Test
        working-directory: ./e2e
        run: |
          yarn test src/screen.spec.ts
      - name: Logs
        if: always()
        run: |
          cat sfu/server.log

  relay:
    env:
      DISPLAY: ":99"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - name: Disable IPv6
        run: |
          sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
          sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
      - name: screen
        # Currently, Firefox does not support media.navigator.streams.fake for getDisplayMedia.
        # It supports only getUserMedia.
        # So, we create fake screen on X server.
        run: |
          sudo apt-get install xvfb
          Xvfb :99 -screen 0 1280x720x24 &
      - name: docker
        run: |
          docker compose up -d
          docker compose ps
      - name: Wait for service to be ready
        run: |
          until curl -sSf http://localhost:3001 > /dev/null; do
            echo "Waiting for 3001..."
            sleep 2
          done
          until curl -sSf http://localhost:3002 > /dev/null; do
            echo "Waiting for 3002..."
            sleep 2
          done
          until curl -sSf http://localhost:4001 > /dev/null; do
            echo "Waiting for 4001..."
            sleep 2
          done
          until curl -sSf http://localhost:4002 > /dev/null; do
            echo "Waiting for 4002..."
            sleep 2
          done
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Install dependencies
        working-directory: ./e2e
        run: |
          yarn install
          yarn playwright install
      - name: Test
        working-directory: ./e2e
        run: |
          yarn test src/relay.spec.ts
      - name: 3001
        if: always()
        run: |
          docker compose logs frontend1
      - name: 3002
        if: always()
        run: |
          docker compose logs frontend2
      - name: SFU1 Logs
        if: always()
        run: |
          docker compose logs sfu1
      - name: SFU2 Logs
        if: always()
        run: |
          docker compose logs sfu2

  relay_data:
    env:
      DISPLAY: ":99"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - name: Disable IPv6
        run: |
          sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
          sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1
      - name: screen
        # Currently, Firefox does not support media.navigator.streams.fake for getDisplayMedia.
        # It supports only getUserMedia.
        # So, we create fake screen on X server.
        run: |
          sudo apt-get install xvfb
          Xvfb :99 -screen 0 1280x720x24 &
      - name: docker
        run: |
          docker compose -f compose.data.yaml up -d
          docker compose ps
      - name: Wait for service to be ready
        run: |
          until curl -sSf http://localhost:3001 > /dev/null; do
            echo "Waiting for 3001..."
            sleep 2
          done
          until curl -sSf http://localhost:3002 > /dev/null; do
            echo "Waiting for 3002..."
            sleep 2
          done
          until curl -sSf http://localhost:4001 > /dev/null; do
            echo "Waiting for 4001..."
            sleep 2
          done
          until curl -sSf http://localhost:4002 > /dev/null; do
            echo "Waiting for 4002..."
            sleep 2
          done
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Install dependencies
        working-directory: ./e2e
        run: |
          yarn install
          yarn playwright install
      - name: Test
        working-directory: ./e2e
        run: |
          yarn test src/relay_data.spec.ts
      - name: 3001
        if: always()
        run: |
          docker compose logs frontend1
      - name: 3002
        if: always()
        run: |
          docker compose logs frontend2
      - name: SFU1 Logs
        if: always()
        run: |
          docker compose logs sfu1
      - name: SFU2 Logs
        if: always()
        run: |
          docker compose logs sfu2
